html {
    font-size: 10px; 
    font-family: "Ubuntu", sans-serif;
    background-color: #ce1126;
}

h1 {
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px black;
    font-size: 60px;
    text-align: center;
    color: yellow;
}

p {
    font-size: 40px;
    font-family: "Ubuntu", sans-serif;
    line-height: 2;
    letter-spacing: 1px;
    color: yellow;
    text-align: center;
}

a {
    color: yellow;
    font-family: "Ubuntu", sans-serif;
    font-size: 40px;
    text-align: center;
}

body {  
    width: 900px;
    height: 2000px;
    margin: 0 auto;
    border: 5px solid black;
    padding: 0 20px 20px 20px;
}

img {
    display: block;
    margin: 0 auto;
    width: 600px;
}

video {
    display: block;
    margin: 0 auto;
}